.ant-alert {
  padding: 9px 17px;

  color: #1d1e20;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;

  @media (max-width: 767px) {
    padding: 9px 15px;
    font-size: 14px;
  }
  .ant-alert-message {
    padding-top: 2px;
  }
  .ant-alert-icon {
    margin-right: 10px;
    @media (max-width: 767px) {
      margin-right: 6px;
    }
  }
  &.ant-alert-warning {
    background-color: #fff8eb;
    border-color: #faad14;
  }
}
