body {
  .ant-tag {
    padding: 0 8px;
    padding-top: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    .ant-tag-close-icon {
      color: inherit;
    }
  }
  .ant-tag-default {
    color: #1d1e20;
    background-color: #f5f5f7;
    border-color: #c6ccd3;
  }
  .ant-tag-processing {
    color: #1996d4;
    background: #ecf8ff;
    border-color: #1996d4;
  }
  .ant-tag-success {
    color: #389e0d;
    background: #f0ffea;
    border-color: #389e0d;
  }
  .ant-tag-warning {
    color: #faad14;
    background: #fff8eb;
    border-color: #faad14;
  }
  .ant-tag-error {
    color: #d92128;
    background: #ffddde;
    border-color: #d92128;
  }
}
