.settingSystem {
  :global(.ant-input-number-in-form-item) {
    width: 200px !important;
  }
  :global(.ant-form-item-control-input-content) {
    width: 200px !important;
  }
  :global(.ant-input-password) {
    width: 200px !important;
  }
}
