.propertyCategory {
  flex-shrink: 0;
  width: 232px;
  :global(.ant-form-item) {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    width: auto;
  }
}

:global(.table-less-toolbar) {
  margin: 30px 24px;
}

:global(.g2-tooltip-marker) {
  border-radius: 50% !important;
}
.chartContainer {
  :global(.ant-form-item) {
    margin-bottom: 20px;
  }
  :global(.ant-select) {
    margin-bottom: 20px;
  }
}
