.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;

  color: #737d89;
  font-weight: 500;
  font-size: 12/16rem;
  line-height: 20/16rem;
  letter-spacing: 0.5/16rem;
  span {
    display: block;
    margin-left: 12/16rem;
    padding-left: 12/16rem;
    border-left: 1px solid #737d89;
  }
  img {
    display: block;
    max-width: 50px;
    max-height: 20px;
  }
}
